<footer>
  <div class="footer-container">
    <h5>The Kentucky Food Review &copy; 2022</h5>
    <div class="footer-links">
      <a href="mailto:contact@kyfoodreview.com"><i class="far fa-envelope fa-lg"></i></a>
      <a href="https://www.facebook.com/kyfoodreview"><i class="fab fa-facebook fa-lg"></i></a>
      <a href="https://www.instagram.com/kyfoodreview/"><i class="fab fa-instagram fa-lg"></i></a>
      <a href="https://twitter.com/thekyfoodreview"><i class="fab fa-twitter fa-lg"></i></a>
    </div>
  </div>
</footer>
